{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Directory</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/slicknav.css' %}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'signup/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'listdoc/css/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'home/css/responsive.css' %}"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid ">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="/">
                                        <img src="{% static 'home/img/logo.png' %}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/">Trang chủ</a></li>
                                            <li><a href="Listings.html">Tải lên</a></li>
                                            <li><a href="#">Danh mục <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    {% for cat_item in categorys %}
                                                    <li><a href="{% url 'doc_cate' cat_item.slug %}">{{ cat_item.cate_title }}</a></li>
                               
                                                    {% endfor %}
                                                    
                                                    
                                                </ul>
                                            </li>
                                            <li><a href="about.html">Về chúng tôi</a></li>
                                            <li><a href="{% url 'Listpost' %}">blog <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'Listpost' %}">blog</a></li>
                                                    <li><a href="single-blog.html">single-blog</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">Liên hệ</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">
                                    <div class="book_btn d-none d-lg-block">
                                        <a href="{% url 'sign_in' %}">Sign In</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
{% block content %}

    Comming soon

{% endblock %}


    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="{% static 'home/img/footer_logo.png' %}" alt="">
                                </a>
                            </div>
                            <p>
                                Chúng tôi mang đến cho bạn những tài liệu chất lượng <br> kèm hướng dẫn sử dụng.
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Dịch vụ
                            </h3>
                            <ul>
                                <li><a href="#">Thiết kế web</a></li>
                                <li><a href="#">Web design </a></li>
                                <li><a href="#">Ecommerce</a></li>
                                <li><a href="#">Digital marketing</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Liên kết
                            </h3>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#"> Contact</a></li>
                                <li><a href="#">Support</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Đăng ký
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" placeholder="Nhập địa chỉ email của bạn">
                                <button type="submit">Đăng ký</button>
                            </form>
                            <p class="newsletter_text">Đăng ký để nhận ưu đãi từ chúng tôi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved. Created <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Son Nguyen SNC</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

    <!-- link that opens popup -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script>
    <!-- JS here -->
    <script src="{% static 'home/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'home/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'home/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'home/js/ajax-form.js' %}"></script>
    <script src="{% static 'home/js/waypoints.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'home/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'home/js/scrollIt.js' %}"></script>
    <script src="{% static 'home/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'home/js/wow.min.js' %}"></script>
    <script src="{% static 'home/js/nice-select.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'home/js/plugins.js' %}"></script>
    <!-- <script src="{% static 'home/js/gijgo.min.js' %}"></script> -->
    <script src="{% static 'home/js/slick.min.js' %}"></script>



    <!--contact js-->
    <script src="{% static 'home/js/contact.js' %}"></script>
    <script src="{% static 'home/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.form.js' %}"></script>
    <script src="{% static 'home/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'home/js/mail-script.js' %}"></script>
    <script src="{% static 'home/js/main.js' %}"></script>
</body>

</html>