{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .listpost{
            color:red;
            }
        body{

            background: url({% static '../static/home/img/elements/g7.jpg' %});
            }

    </style>
</head>
<body>
<div class="listpost">
    <ul>
        {% for item in bv %}
        <li><a href="{% url 'post_detail' item.slug %}"> <h1>{{item.title}}</h1></a></li>
        {% endfor %}
    </ul>
</div>
</body>
</html>